<br/><br/><br/><br/>

<div class="col-md-6">
  <h3>Forecast Regions</h3>
  <iframe name="caic_fx_map" id="caic_fx_map"
          src="http://avalanche.state.co.us/caic/fx_map.php"
          width="495px" height="565px"
          scrolling="no" marginwidth="0"
          marginheight="0" frameborder="0"
          vspace="0" hspace="0">
          <p>Your browser does not support iframes.</p>
  </iframe>
  <img src="http://avalanche.state.co.us/caic/images/map-danger-scale.png">
</div>

<div class="col-md-6">
  <h3>Weather Radar</h3>
  <iframe src="http://builder.zoomradar.net/zoomradar_weather_map/weather_image_user.php?w=500&h=620&z=6&lat=39.7069307&lng=-104.9564084" width="500" height="620" style="border:0" frameBorder="0" seamless="seamless" scrolling="no"></iframe>
</div>

<br/>

<div class="col-md-12">
  <h1>Education</h1>
  <table class="table table-striped back">
    <thead>
      <tr>
        <th>Colorado Avalanche Course Provider Directory</th>
      </tr>
      <tr>
        <th>Company</th>
        <th>State</th>
        <th>Phone</th>
        <th>E-Mail</th>
        <th>Intro</th>
        <th>Level 1</th>
        <th>L1 Refresher</th>
        <th>Level 2</th>
        <th>Level 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Company"><a href="http://avtraining.org/" title="http://avtraining.org/" target="_blank">AIARE </a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(303) 618-8996 </td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">

        </script><a href="mailto:info@avtraining.org">info@avtraining.org</a><noscript>N/A</noscript></td>
        <td data-th="Intro">&nbsp;</td>
        <td data-th="Level 1">&nbsp;</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">X</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://avalanche.state.co.us/index.php" title="http://avalanche.state.co.us/index.php" target="_blank">Colorado Avalanche Information Center</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(303) 499-9650</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:caic@qwestoffice.net">caic@qwestoffice.net</a><noscript>N/A</noscript></td>
        <td data-th="Intro">X</td>
        <td data-th="Level 1">X</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">X</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.ccu.edu/academics/outdoorleadership/" title="http://www.ccu.edu/academics/outdoorleadership/" target="_blank">Colorado Christian University</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(303)963-3159</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:jdoenges@ccu.edu">jdoenges@ccu.edu</a><noscript>N/A</noscript></td>
        <td data-th="Intro">&nbsp;</td>
        <td data-th="Level 1">X</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.crestedbutteguides.com/" title="http://www.crestedbutteguides.com/" target="_blank">Crested Butte Mountain Guides</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(970) 349-5430</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:info@crestedbutteguides.com">info@crestedbutteguides.com</a><noscript>N/A</noscript></td>
        <td data-th="Intro">X</td>
        <td data-th="Level 1">&nbsp;</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://berthoudpass.org/what-we-do/" title="http://berthoudpass.org/what-we-do/" target="_blank">Friends of Berthoud Pass</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(303) 800-5551</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:info@berthoudpass.org">info@berthoudpass.org</a><noscript>N/A</noscript></td>
        <td data-th="Intro">X</td>
        <td data-th="Level 1">&nbsp;</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.thesanjuans.org" title="www.thesanjuans.org" target="_blank">Friends of the San Juans</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(303)489-8849</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:fosj.info@gmail.com">fosj.info@gmail.com</a><noscript>N/A</noscript></td>
        <td data-th="Intro">X</td>
        <td data-th="Level 1">&nbsp;</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.avyschool.org" title="http://www.avyschool.org" target="_blank">Silverton Avalanche School </a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(970)903-7039</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:info@avyschool.org">info@avyschool.org</a><noscript>N/A</noscript></td>
        <td data-th="Intro">&nbsp;</td>
        <td data-th="Level 1">X</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">X</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.steamboatpowdercats.com/snowcat/avalanc" title="http://www.steamboatpowdercats.com/snowcat/avalanc" target="_blank">Steamboat Powdercats</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(800) 288-0543</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:info@steamboatpowdercats.com">info@steamboatpowdercats.com</a><noscript>N/A</noscript></td>
        <td data-th="Intro">&nbsp;</td>
        <td data-th="Level 1">X</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
      <tr>
        <td data-th="Company"><a href="http://www.wolfcreekbackcountry.com/avalanche.html" title="http://www.wolfcreekbackcountry.com/avalanche.html" target="_blank">Wolf Creek Backcountry</a></td>
        <td data-th="State">CO</td>
        <td data-th="Phone">(970) 731-2486</td>
        <td data-th="E-Mail"><script type="text/javascript" language="javascript">
        </script><a href="mailto:info@wolfcreekbackcountry.com">info@wolfcreekbackcountry.com</a><noscript>N/A</noscript></td>
        <td data-th="Intro">&nbsp;</td>
        <td data-th="Level 1">X</td>
        <td data-th="L1 Refresher">&nbsp;</td>
        <td data-th="Level 2">&nbsp;</td>
        <td data-th="Level 3">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6 back">
  <header class="entry-header"><h1 class="entry-title" itemprop="headline">Resources</h1></header>
  <div class="entry-content" itemprop="text">
    <h2>Online Resources for Avalanche Education</h2>
    <p>
      <a title="Class Calendar" href="http://avalanche.state.co.us/education/class-calendar/">CAIC Class Calendar</a><br>
      <a href="http://www.americanavalancheassociation.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.americanavalancheassociation.org/', 'American Avalanche Association']);">American Avalanche Association</a> – Professional organization and education standards<br>
      <a href="http://avtraining.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://avtraining.org/', 'American Institute for Avalanche Research and Education']);">American Institute for Avalanche Research and Education</a> – Avalanche Education
    </p>
    <h2>Tutorials and Information</h2>
    <p>
      <a href="http://www.fsavalanche.org/get-the-training" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.fsavalanche.org/get-the-training', 'Avalanche Basics']);">Avalanche Basics</a> from the Forest Service National Avalanche Center<br>
      <a href="http://avtraining.org/educational-resources/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://avtraining.org/educational-resources/', 'AIARE Educational Resources']);">AIARE Educational Resources</a><br>
      <a href="http://www.americanavalancheinstitute.com/aai3/resources.php" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.americanavalancheinstitute.com/aai3/resources.php', 'AAI Education Resources']);">AAI Education Resources</a>
    </p>
    <h2>Forecast Centers</h2>
    <p>
      <a href="http://www.cbavalanchecenter.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.cbavalanchecenter.org/', 'Crested Butte Avalanche Center']);">Crested Butte Avalanche Center</a><br>
      <a href="http://avalanche.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://avalanche.org/', 'US forecast centers']);">US forecast centers</a><br>
      <a href="http://www.avalanche.ca/cac/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.avalanche.ca/cac/', 'Canadian Avalanche Centre']);">Canadian Avalanche Centre</a><br>
      <a href="http://www.avalanches.org/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.avalanches.org/', 'European Avalanche Warning Services']);">European Avalanche Warning Services</a><br>
      <a href="http://www.avalanche.net.nz/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.avalanche.net.nz/', 'New Zealand Avalanche Centre']);">New Zealand Avalanche Centre</a>
    </p>
    <h2>Weather Resources</h2>
    <p>
      <a href="http://www.crh.noaa.gov/glossary.php" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.crh.noaa.gov/glossary.php', 'NOAA Glossary of Weather Terms']);">NOAA Glossary of Weather Terms</a><br>
      <a href="http://pafc.arh.noaa.gov/classroom/practical_mountain.php" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://pafc.arh.noaa.gov/classroom/practical_mountain.php', 'Practical Mountain Weather']);">Practical Mountain Weather</a> – an online textbook
    </p>
  </div>
</div>
