<div>
  <iframe name="caic_fx_map" id="caic_fx_map"
    src="http://avalanche.state.co.us/caic/fx_map.php"
    width="495px" height="565px"
    scrolling="no" marginwidth="0"
    marginheight="0" frameborder="0"
    vspace="0" hspace="0">
    <p>Your browser does not support iframes.</p>
  </iframe>
  <img src="http://avalanche.state.co.us/caic/images/map-danger-scale.png">
</div>
