/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

@import "bootstrap";

.navbar {
  background-color: white;
  // opacity: 0.2;
}

.bg {
  background-image:  image-url("SnowCat-Skiing-Brundage.jpg");
  background-size: 100%;
  top: 0;
  left: 0;
}

.modal-body {
  padding: 60px;
  background-size: 100%;
}

.split-panel-left {
  border: 0;
  border-right: 1px solid #e0e0e0;
  padding-right: 60px;
}

.split-panel-right {
  padding-left: 60px;
}

.image-radius {
  border-radius: 5px;
}

.back {
  background-color: white;
}

.img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }
